# Node
node_modules/
.npmrc
pnpm-lock.yaml
# package-lock.json - Keep this for GitHub Actions
yarn.lock

# Env
.env
.env*.local
app/.env
app/.env*.local
workers/.dev.vars

# Build
.next/
app/.next/
app/out/
dist/
coverage/
.vscode/
.DS_Store

# Wrangler / CF
workers/.wrangler/
wrangler.toml.local

# Cypress
cypress/videos/
cypress/screenshots/
